img, video { 
    max-width: 96%; 
}

#container {
	background-color: #A8C764;
	border: groove #A8C764;
}

#content {
	
}

#footer {
	background-color: #D6EF9F;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}

#footer p {
	margin: 0px;
	font-family: verdana, sans-serif;
	font-size: 0.8rem;
	text-align: center;
}

#header {
	background-color: #75A311;
	border-bottom: thin solid #375000;
	padding: 10px;
}

#header p {
    margin-top: 10px;
	font-size: 1.2rem;
	font-family: monospace, sans-serif;
	text-align: right;
}

#navigation {
	padding: 10px 0 10px 0;
}

#navigation ul {
    box-shadow: 0px 0px 25px -5px #375000;
}

#navigation li {
	list-style: none;
	margin: 2px 0px 2px 0px;
	background-color: #D6EF9F;
	height: 40px;
	line-height: 1em;
}

#navigation li:hover {
	background-color: #375000;
	line-height: 1em;
}

#navigation a {
	display: block;
	padding: 13px 45px;
	color: #597814;
	text-decoration: none;
	text-transform: uppercase;
	font-family: verdana, sans-serif;
	font-size: 1rem;
}

#navigation a:hover {
	color: #D6EF9F;
}

#navigation .active a.active {
	background-color: #597814;
	color: #D6EF9F;
}

#navigation a.active:hover {
	color: #D6EF9F;
	background-color: #597814;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 13px 45px;
} 

#navigation li a {
	background: url("/css/pics/sprite.png") 24px 24px no-repeat;
}

#navigation li a.start:link {
	background-position: 10px 10px;
}

#navigation li a.start:hover {
	background-position: 10px -38px;
}

#navigation li a.laborationer:link {
	background-position: 10px -86px;
}

#navigation li a.laborationer:hover {
	background-position: 10px -134px;
} 

#navigation li a.presentation:link {
	background-position: 10px -182px;
}

#navigation li a.presentation:hover {
	background-position: 10px -230px;
} 

#navigation li a.kontakt:link {
	background-position: 10px -278px;
}

#navigation li a.kontakt:hover {
	background-position: 10px -326px;
} 

.article {
	background-color: #A8C764;
	
	box-shadow: 0px 0px 25px -5px #375000;
}

.article p {
	margin: 0 10px 0 5px;
	text-align: left;
	width: 97%;
	margin-bottom: 15px;
}

p.article_end {
	width: 97%;
	text-align: right;
	font-style: italic;
}

.border {
	border: solid 5px;
    border-color: white;
}

.labb {
	margin-left: 2em;
}

.labb dd {
	margin-bottom: 1.2em;
}

.labb li {
	list-style-type: disc;
}

.left {
	border: solid 5px;
    border-color: white;
	margin: 0px 10px 0px 10px;
	float: left;
}

.presentation dt {
	font-size: 1.05em;
}

.presentation dd {
	margin-left: 3em;
	margin-bottom: 1em;
	width: 75%;
	line-height: 2em;
	text-align: justify;
}

.presentation dd ul li {
	list-style-type: circle;
	font-size: 1em;
}

.presentation dd ol li {
	margin-left: 2em;
	list-style-type: lower-roman;
	font-size: 1em;
}

.right {
	border: solid 5px;
    border-color: white;
	margin: 0px 10px 0px 10px;
	float: right;
}

a:link {
	color: #375000;
}

a:visited {
	color: #75A311;
}

a:focus {
	color: #D6EF9F;
}

a:hover {
	color: #D6EF9F;
}

a:active {
	color: #D6EF9F;
}

body {
	background-color: #A2B5A0;
}

figure {
   display: table;
   text-align: justify;
   width: 80px;
}

figure img {
    display: block;
    max-width: 100%;
}

figcaption {
	color: #597814;
	font-style: italic;
	font-family: monospace;
	font-size: 0.9em;
	display: table-caption;
    caption-side: bottom;
}

fieldset {
	border: solid thin #375000;
	padding-left: 0.8rem;
	padding-bottom: 1rem;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, p, td, dd, dt, li, tr, legend, label, textarea, input, select {
	color: #375000;
}

h1, h2, h3, h4 {
	font-family: "Lucida Console", monospace;
	line-height: 1.2em;
	margin-top: 0.3em;
}

h1 {
	font-size: 1.3rem;
	font-family: "Lucida Console", monospace;
	letter-spacing: 1.2px;
}

h2 {
	font-size: 1.9em;
	margin-bottom: 0.3em;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 0.3em;
}

h3.article_headline {
	border-bottom: 1px solid;
	padding-bottom: 3px;
	padding-left: 50px;
	vertical-align: bottom;
	padding-top: 18px;
	margin: 5px;
    background-image: url('pics/logo.png');
    background-repeat: no-repeat;
    background-size: 50px;
}

h4 {
	font-size: 1.4em;
	margin-bottom: 0.3em;
}

legend {
	margin: 0.5rem;
	padding: 0.2rem;
}

label, textarea, input, select {
	font-family: "Times new roman", serif;
	font-size: 0.8em;
	line-height: 1.7em;
}

p, td, dd, dt, li, tr, legend {
	font-family: "Times new roman", serif;
	font-size: 0.9rem;
	line-height: 1.5rem;
}

p {
	margin-bottom: 0.8em;
}

table {
	background-color: #D6EF9F;
	margin-right: auto;
	margin-left: auto;
}

td {
	border: solid thin;
	padding-right: 10px;
	padding-left: 3px;
}

tfoot {
	font-style: italic;
}

th {
	border: solid thin;
	text-align: left;
	padding-right: 10px;
	padding-left: 3px;
}

thead {
	background-color: #75A311;
	border: solid thin;
}

thead:hover {
	background-color: white;
}

tr {
	border: solid thin
}

tr:hover td:not(.avoid) {
	background-color: white;
}