/*
	Background header: #75A311
	Background main: #A2B5A0
	Background article: #A8C764
	Background aside: #A8C764
	Background foot: #D6EF9F
	
	Menu inactive: #D6EF9F
	Menu active: #597814
	Menu hover: #375000
	Menu inactive text: #597814
	Menu active text: #A8C764
	Menu hover text: #A8C764
	
	A text: #A8C764
	A hover background: #375000
	A hover text: #D6EF9F
	A visited: #597814
	
	Text-color: #375000
	
	Ljusast: #D6EF9F
	Ljusare: #A8C764
	Grund: #75A311
	Mörkare: #597814
	Mörkast: #375000
	
*/

#container {
	background-color: #A8C764;
	border: groove #A8C764;
	max-width: 1000px;
 	margin-left: auto ;
  	margin-right: auto ;
}

#content {
	padding: 3px;
	max-width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
}

footer {
	background-color: #D6EF9F;
	padding: 10px;
	margin: 10px;
}

footer p {
	margin: 0px;
}

header {
	background-color: #75A311;
	border-bottom: thin solid #375000;
	padding: 10px;
}

header p {
	font-size: 1.3em;
	font-family: monospace, sans-serif;
	text-align: right;
}

.left {
	border: solid 5px;
    border-color: white;
	margin: 0px 10px 0px 10px;
	float: left;
}

a:link {
	color: #375000;
}

a:visited {
	color: #75A311;
}

a:focus {
	color: #D6EF9F;
}

a:hover {
	color: #D6EF9F;
}

a:active {
	color: #D6EF9F;
}

body {
	background-color: #A2B5A0;
}

h1, h2, h3, h4, p {
	color: #375000;
}

h1, h2, h3, h4 {
	font-family: "Lucida Console", monospace;
	line-height: 1.2em;
	margin-top: 0.3em;
}

h1 {
	font-size: 2.3em;
	font-family: "Lucida Console", monospace;
	letter-spacing: 1.7px;
}

h2 {
	font-size: 1.9em;
	margin-bottom: 0.3em;
	border-bottom: 1px solid;
	width: 90%;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 0.3em;

}

h4 {
	font-size: 1.4em;
	margin-bottom: 0.3em;
}

legend {
	margin: 0.5rem;
	padding: 0.2rem;
}

p {
	font-family: verdana, sans-serif;
	font-size: 0.9em;
	line-height: 1.7em;
	margin-bottom: 0.8em;
}

a::after {
	content: attr(title);
	position: relative;
	top:15px;
}

.images img {
	display: block; 
	width: 120px;
}

.images a {
	width: 120px;
	display: inline;
	background: white;
	margin: 0 5px 10px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	float: left;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	transform: rotate(8deg);
	z-index: 0;
	text-align: center;
}

.images a:nth-child(3n+0) {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.images a:nth-child(4n+0) {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);
}

.images a:nth-child(5n+0) {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

.images a:nth-child(2n+0) {
	font-size: 0.9rem;
}

.images a:nth-child(6n+0) {
	font-size: 1.1rem;
}

.images a:hover {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
	position: relative;
	z-index: 10;
	font-size: 1rem;
}